.rdfs-rules {
	list-style: none;
}

.rdfs-rules > li {
	list-style: none;
}

.rdfs-rule {
	width: 40em;
	margin: 2em auto;
	text-align: left;
}

.rdfs-formula {
	font-family: 'math', 'Latin Modern Math', serif;
}

.rdfs-rule-id {
	display: block;
	margin: 1em 0;
	font-weight: bold;
	position: relative;
}

.rdfs-rule-id .rdfs-anchor {
	visibility: hidden;
	position: absolute;
	left: -1em;
	padding-right: 0.5em;
}

.rdfs-rule-id:hover .rdfs-anchor {
	visibility: visible;
}

.rdfs-bindings {
	display: block;
}

.rdfs-vars {
	margin: 0.3em 0;
}

.rdfs-vars > ul {
	display: inline;
	list-style: none;
	padding: 0;
}

.rdfs-vars > ul > li {
	display: inline;
	margin-left: 1em;
}

.rdfs-var {
	font-style: italic;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.rdfs-statements {
	list-style: none;
}

.rdfs-statements li {
	margin: 0.25em 0;
}

.rdfs-statements li > span, .rdfs-statements li > a {
	margin: 0 0.25em;
	display: inline-block;
	width: 10em;
	text-align: left;
}

.rdfs-sign {
	width: 1em !important;
}

.rdfs-conclusion {
	border-top: 1px solid black;
	margin-top: 0.8em;
}

.rdfs-conclusion .rdfs-vars {
	margin-top: 0.8em;
}