[
	(
		hypothesis: [
			(Positive, (
				Var(0),
				Var(1),
				Var(2)
			))
		],
		conclusion: [
			(Positive, Triple((
				Var(1),
				Id(Id(Iri("http://www.w3.org/1999/02/22-rdf-syntax-ns#type"))),
				Id(Id(Iri("http://www.w3.org/1999/02/22-rdf-syntax-ns#Property"))),
			)))
		]
	)
]